<VirtualHost *:80>
    ServerName <%= node[:opsworks][:instance][:ip] %>
    Redirect 403 /
    ErrorDocument 403 "No"
    DocumentRoot /dev/null/
    UseCanonicalName Off
    UserDir disabled
</VirtualHost>
